/* 
.my-appoinment-container{
    display: flex;
    justify-content: space-evenly;
} */

.card-myappointment{
 background-color:#f8f9fa;
 margin: 26px auto;
 padding: 5px;
  box-shadow: 1px 2px 6px 2px rgba(64, 64, 64, 0.2);
  border-radius: 10px;
  margin-right: 150px;
   margin-left: 150px;
 position: relative; 
}


.select-serivce{
    /* color: blue; */
    font-size: 20px;
}
.location{
    font-size: 20px;
 padding-left: 2px;
 padding-right: 2px;
    text-align: center;
   /* color: #0d6efd; */
   position: absolute;
   right: 15px;
   top: 5px;
   border-bottom: 1px double gray;
   /* border: 1px solid gray; */
   /* box-shadow: 0px 1px 1px 1px gray; */
   /* border-radius: 20px; */
}
.img-locator{
    width: 22px;
}

.contact-date-apt{
    margin-right: 200px;
    color: brown;
    font-size: 23px;
}
.cnt{
    color: #0d6efd;

}
.hr-cnt{
    font-size: 20px;
}
.info-apt{
    font-size: 22px;
    color: #212529;
}
.date{
    position: absolute;
    font-size: 20px;
    bottom: -4px;
    right: 15px;
    color: brown;
}
/* .background-img{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu8Tp1gAJirAgvduiYv5SOGtD41_dp0F3IAQ&usqp=CAU");
    background-repeat: no-repeat;
    width: 100%;
    object-fit: contain;
} */